@model LoginRequest;


<html lang="en">
<head>
    <style>

        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            font-family: 'Poppins', sans-serif;
        }

        body {
            display: flex;
            justify-content: center;
            align-items: center;
            min-height: 100vh;
            background-image: url('images/padlock-with-keyhole-icon-personal-data-security-illustrates-cyber-data-information-privacy-idea-blue-color-abstract-hi-speed-internet-technology_542466-600.jpg');
            background-size: cover;
        }

        .wrapper {
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 450px;
            height: 500px;
            background: rgba(0, 0, 0, 0.7);
            border: 5px solid #333;
            border-radius: 10px;
            transition: .5s;
        }

            .wrapper:hover {
                border: 5px solid #0ef;
                box-shadow: 0 0 20px #0ef, inset 0 0 20px #0ef;
            }

        h2 {
            font-size: 2em;
            text-align: center;
            color: #fff;
            transition: .5s;
        }

        .wrapper:hover h2 {
            color: #0ef;
        }

        .input-box {
            position: relative;
            width: 280px;
            margin: 30px 0;
        }

            .input-box input {
                width: 100%;
                height: 50px;
                background: transparent;
                border: 2px solid #333;
                outline: none;
                border-radius: 5px;
                font-size: 1em;
                color: #fff;
                padding: 0 10px 0 35px;
            }

        .wrapper:hover .input-box input {
            border: 2px solid #0ef;
            box-shadow: 0 0 10px #0ef, inset 0 0 10px #0ef;
        }

        .input-box input::placeholder {
            color: rgba(255, 255, 255, .3);
        }

        .icon {
            position: absolute;
            left: 10px;
            color: #fff;
            font-size: 1.2em;
            line-height: 55px;
            transition: .5s;
        }

        .wrapper:hover .icon {
            color: #0ef;
        }

        .forgot-pass {
            margin: -15px 0 15px;
        }

            .forgot-pass a {
                color: #fff;
                font-size: .9em;
                text-decoration: none;
            }

                .forgot-pass a:hover {
                    text-decoration: underline;
                }

        button {
            position: relative;
            width: 100%;
            height: 45px;
            background: #333;
            border: none;
            outline: none;
            border-radius: 5px;
            cursor: pointer;
            font-size: 1em;
            color: #fff;
            font-weight: 500;
            transition: .5s;
        }

        .wrapper:hover button {
            background: #0ef;
            color: #000;
            box-shadow: 0 0 20px #0ef;
        }

        .register-link {
            font-size: .9em;
            text-align: center;
            margin: 25px 0;
        }

            .register-link p {
                color: #fff;
            }

                .register-link p a {
                    color: #333;
                    text-decoration: none;
                    font-weight: 600;
                    transition: .5s;
                }

        .wrapper:hover .register-link p a {
            color: #0ef;
        }

        .register-link p a:hover {
            text-decoration: underline;
        }
    </style>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tizimga kirish</title>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</head>

<body>
    <div class="wrapper">
        <form asp-action="Index" asp-controller="Login" method="post">
            <h2>Kirish</h2>
            <div class="input-box">
                <span class="icon"><ion-icon name="person"></ion-icon></span>
                <label asp-for="Username" for="Username"></label>
                <input type="text" placeholder="Login" required>
            </div>

            <div class="input-box">
                <span class="icon"><ion-icon name="lock-closed"></ion-icon></span>
                <label asp-for="Password" for="Password"></label>
                <input type="password" placeholder="Parol" required>
            </div>
            <div class="forgot-pass">
                <a href="#">Parolni unutdingizmi?</a>
            </div>
            <button type="submit">Kirish</button>
            <div class="register-link">
                <p>Akkauntingiz yo'qmi? <a href="#">Akkaunt ochish</a></p>
            </div>
        </form>
    </div>
</body>

</html>